.main-container{
  /* background-color: bisque; */
  margin: auto;
  margin-top: 50px;
  height: 500px;
  width: 1000px;
  padding: 20px;
  /* display:grid; */
}

.header{
  /* background-color: aqua; */
  height: 150px;
  padding-left: 20px;
  text-align: left;
  padding-top: 40px;
  border-radius: 40px;
  border: #000000;
  border-width: 5px;
  border-style: solid;
}

p.solid{
  
  text-align: left;
  margin-right: 200px;
  font-size:30px;
  border: #000000;
  border-width: 5px;
  border-style: solid;
  border-radius: 100%;
  padding: 10px;
}
span{
  display: inline-block;
}

.header h1{
  text-align: center;
  font-weight: bold;
  font-size:40px;
  
}
.left{
  height: 150px;
  border-radius: 40px;
  border: #000000;
  border-width: 5px;
  border-style: solid;
  float: left;
  width: 350px;
  height: 350px;
  padding: 50px;
  padding-top: 80px;
  text-align: center;
  margin-top: 20px;
}

.about-us,
.contact-us{
  margin-top: 40px;
}

.right{
  height: 150px;
  text-align: left;
  border-radius: 40px;
  border: #000000;
  border-width: 5px;
  border-style: dashed;
  float: right;
  overflow-x: hidden;
  overflow-y: auto;
  width: 600px;
  height: 350px;
  padding: 50px;
  margin-top: 20px;
}

.heading{
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
}